/* 	Sundlaugakortinn 
--------------------------*/
.col-1-3{
	height: 380px;
	margin-left: 2.5%;
	margin-top: 30px;
	background-color: $blue;
}
.kort-img {
	width: 100%;
	height: 260px;
}
.info {
	width: 100%;
	height: 120px;
	padding-top: 30px;
	text-align: center;
	bottom: 0;
	@include Fira;
	font-size: 30px;
	color: $white;
}
.info a {
	color: $white;
	text-decoration: none
}
[class*='col-'] {
	padding-right: 0;
}
#Container .mix{
	display: none;
}
/* @mixin bg-img fyrir sundlaugakortinn */
@include bg-img(laugardals);
@include bg-img(alftanes);
@include bg-img(arbaer);
@include bg-img(asvalla);
@include bg-img(breidholt);
@include bg-img(grafarvogs);
@include bg-img(sundholl);
@include bg-img(vesturbaejar);
@include bg-img(laugavatn);
@include bg-img(blaalonid);
@include bg-img(hellulaug);
@include bg-img(hella);
@include bg-img(stykkis);
@include bg-img(egilsstada);
@include bg-img(eskifirdi);
@include bg-img(dalvik);
@include bg-img(blonduos);
@media handheld, only screen and (max-width: 767px) {

	.col-1-3 {
		margin-left: 0;
	}	
}

/* 	END of Sundlaugakortinn 
-------------------------------*/