/*		Footer
-----------------------*/
footer {
	height: $footer-height;
	width: 100%;
	text-align: center;
	background-color: $blue;
	margin-top: 30px;
}
.container-footer {
	width: 80%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-left: 10%;
	padding-top: 30px;
}
.container-footer li a {
	@include Fira;
	font-size: 24px;
	color: $white;
	text-decoration: none
}
.social {
	display: flex;
	justify-content: center;
}
.social-container {
	width: 240px;
	display: flex;
	justify-content: space-between;
	margin: 30px 0 0 0;
}
/*	END of Footer
-----------------------*/
@media screen and (max-width: 768px) {
	footer {
		height: $footer-height - 60px;
	}	
	.container-footer {
		display: none;
	}
}