/*	navigation
------------------*/
.top-container {
	width: 95%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-left: 2.5%;
	padding-top: 15px;
	@include Fira;
	font-size: 30px;
	color: $blue;
}
.top-container div a {
	text-decoration: none;
}

.time {
	font-size: 24px;
	padding-top: 5px;
}
/*	Hiding hamburger nav for desktop */
.hamburger,
.cross,
.menu {
	display: none;
}
/*	mobile */
@media screen and (max-width: 768px) {
	/*	hamburger menu */
	.hamburger{
		display: inline-block;
		background:none;
		position:absolute;
		top:10px;
		right:0;
		line-height:45px;
		padding:0px 15px 0px 15px;
		color: $black;
		border:0;
		font-size:1.4em;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
	}
	.cross{
		display: inline-block;
		background:none;
		position:absolute;
		top:10px;
		right:0;
		padding:0px 15px 0px 15px;
		color:$black;
		border:0;
		font-size:3em;
		line-height:65px;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
	}
	.menu{
		display: inline-block;
		margin-top: 20px;
		z-index:1000000; 
		font-weight:bold; 
		font-size:0.8em; 
		width:100%; 
		background:$black; 
		position:absolute; 
		text-align:center;
	}
	.menu ul {
		margin: 0; 
		padding: 0; 
		list-style-type: none; 
		list-style-image: none;
	}
	.menu li {
		display: block;   
		padding:15px 0 15px 0; 
		border-bottom:#1d1f20 1px solid;
		&:hover {
			display: block;    
			background:#181818; 
			padding:15px 0 15px 0; 
			border-bottom:#1d1f20 1px solid;
		}
	}
	.menu ul li a { 
		text-decoration:none;  
		margin: 0px; 
		color:$white;
	}
	.menu ul li a:hover {  
		color: #fff; 
		text-decoration:none;
	}
	.menu a{
		text-decoration:none; 
		color:white;
	}
	.menu a:hover{
		text-decoration:none; 
		color:white;
	}

	.glyphicon-home{
		color:white; 
		font-size:1.5em; 
		margin-top:5px; 
		margin:0 auto;
	}
	/*	END of hamburger menu */
}
/*	END of navigation
-----------------------*/