body {
	@include Fira;
}
/*	Footer festur niðri
-------------------------*/
.main{
 min-height: calc(100vh - #{$header-height + $footer-height});
}
/*	END of Footer festur niðri
--------------------------------*/
.jumbotron {
	background-color: $blue;
	width: 100%;
	height: 320px;
	margin-bottom: 0;
}
.jumbotron-container {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin-left: 2.5%;
}

/*	Interactive map
-------------------------*/
.landakort {
	width: 25%;
	height: 220px;
	color: $white;
	font-size: 24px;
	text-align: center;
	Z-index: 300;
}
#chartdiv {
	width: 100%;
	height: 220px;
	font-size: 11px;
}	
/*	END of Interactive map
-------------------------*/
/* Search Bar
------------------*/
.container-4{
	overflow: hidden;
	width: 350px;
	margin-left: -110px;
	margin-top: 80px;
	vertical-align: middle;
	white-space: nowrap;
}
.search {
	Z-index: 300;
}
.container-4 input#search{
	width: 350px;
	height: 60px;
	background: $white;
	border: none;
	@include Fira;
	font-size: 24px;
	float: left;
	color: $blue;
	padding-left: 15px;
	padding-top: 10px;
	border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
   color: #727171;
}
.container-4 button.icon{
  border: none;
  background: $black;
  height: 60px;
  width: 60px;
  color: $white;
  opacity: 0;
  font-size: 24pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, 
.container-4:active button.icon, 
.container-4:focus button.icon{
	outline: none;
	opacity: 1;
	margin-left: -60px;
}
 
  .container-4:hover button.icon:hover{
	background: #a1a0a0;
	color: $black;
}
/* END of Search Bar
------------------*/
/*	Search fillters
-------------------------*/
.controls {
	width: 220px;
	height: 270px;
	background-color: $white;
	border: 1px solid $black;
	border-radius: 4px;
	Z-index: 300;
}
fieldset h4 {
	margin: 10px 0 0 20px;
	font-size: 18px;
}
.checkbox label{
	margin-left:10px;
	font-size: 14px;
}
.checkbox label:after{
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: #68b8c4;
  opacity: 0;
  pointer-events: none;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 10px;
}
.checkbox input {
	border: 2px solid $black;
}
.Container .fail-message{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  transition: 150ms;
}

.Container .fail-message:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.Container .fail-message span{
  display: inline-block;
  vertical-align: middle;
  @include Fira;
  color: $white;
  font-size: 20px;
}

.Container.fail .fail-message{
  opacity: 1;
  pointer-events: auto;
}
/*	END of Search fillters
-------------------------*/

@media screen and (min-width: 768px) {
	.jumbotron {
	    padding-top: 30px; 
	    padding-bottom: 0; 
	}
}
