body {
	@include Fira;
}
/*	Footer festur niðri
-------------------------*/
.main{
 min-height: calc(100vh - #{$header-height + $footer-height});
}
/*	END of Footer festur niðri
--------------------------------*/
.jumbotron {
	background-color: $blue;
	width: 100%;
	height: 300px;
}
.jumbotron-container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-left: 5%;
}

/*	Interactive map
-------------------------*/
#chartdiv {
	width: 30%;
	height: 220px;
	font-size: 11px;
}	
/*	END of Interactive map
-------------------------*/
/* Search Bar
------------------*/
.container-4{
	overflow: hidden;
	width: 460px;
	vertical-align: middle;
	white-space: nowrap;
}
.container-4 input#search{
	width: 460px;
	height: 60px;
	background: $white;
	border: none;
	@include Fira;
	font-size: 24px;
	float: left;
	color: $blue;
	padding-left: 15px;
	padding-top: 18px;
	border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
   color: #727171;
}
.container-4 button.icon{
  border: none;
  background: $black;
  height: 60px;
  width: 60px;
  color: $white;
  opacity: 0;
  font-size: 24pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, 
.container-4:active button.icon, 
.container-4:focus button.icon{
	outline: none;
	opacity: 1;
	margin-left: -50px;
}
 
  .container-4:hover button.icon:hover{
	background: #a1a0a0;
	color: $black;
}
/* END of Search Bar
------------------*/
/*	Search fillters
-------------------------*/
.options {
	width: 190px;
	height: 230px;
	background-color: $white;
	border: 1px solid $black;
	border-radius: 4px;
}
/*	END of Search fillters
-------------------------*/