@charset "UTF-8";
/*    css reset 
--------------------*/
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  END of css reset 
--------------------*/
/*  Fira sans font 
--------------------*/
/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://ninenineteen.co
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px;
  /* column-space */ }

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 30%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }

  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */ }

  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0; }

  .mobile-col-1-1 {
    width: 100%; }

  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }

  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }

  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }

  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }

  .mobile-col-1-5 {
    width: 20%; }

  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }

  .mobile-col-1-7 {
    width: 14.28%; }

  .mobile-col-1-8 {
    width: 12.5%; }

  .mobile-col-1-9 {
    width: 11.1%; }

  .mobile-col-1-10 {
    width: 10%; }

  .mobile-col-1-11 {
    width: 9.09%; }

  .mobile-col-1-12 {
    width: 8.33%; }

  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }

  .mobile-col-10-12 {
    width: 83.333%; }

  .mobile-col-9-12 {
    width: 75%; }

  .mobile-col-5-12 {
    width: 41.66%; }

  .mobile-col-7-12 {
    width: 58.33%; }

  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }
/*	navigation
------------------*/
.top-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 2.5%;
  padding-top: 15px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #1f5f9d; }

.top-container div a {
  text-decoration: none; }

.time {
  font-size: 24px;
  padding-top: 5px; }

/*	END of navigation
-----------------------*/
.col-1-3 {
  height: 380px;
  margin-left: 2.5%;
  margin-top: 30px;
  background-color: #1f5f9d; }

.kort-img {
  width: 100%;
  height: 260px; }

.info {
  width: 100%;
  height: 120px;
  padding-top: 30px;
  text-align: center;
  bottom: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff; }

.info a {
  color: #ffffff;
  text-decoration: none; }

[class*='col-'] {
  padding-right: 0; }

#Container .mix {
  display: none; }

.laugardals {
  background: url(../img/laugardals.jpg) no-repeat center center; }

.alftanes {
  background: url(../img/alftanes.jpg) no-repeat center center; }

.arbaer {
  background: url(../img/arbaer.jpg) no-repeat center center; }

.asvalla {
  background: url(../img/asvalla.jpg) no-repeat center center; }

.breidholt {
  background: url(../img/breidholt.jpg) no-repeat center center; }

.grafarvogs {
  background: url(../img/grafarvogs.jpg) no-repeat center center; }

.sundholl {
  background: url(../img/sundholl.jpg) no-repeat center center; }

.vesturbaejar {
  background: url(../img/vesturbaejar.jpg) no-repeat center center; }

.laugavatn {
  background: url(../img/laugavatn.jpg) no-repeat center center; }

.blaalonid {
  background: url(../img/blaalonid.jpg) no-repeat center center; }

@media handheld, only screen and (max-width: 767px) {
  .col-1-3 {
    margin-left: 0; } }
/*		Footer
-----------------------*/
footer {
  height: 180px;
  width: 100%;
  text-align: center;
  background-color: #1f5f9d;
  margin-top: 30px; }

.container-footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 10%;
  padding-top: 30px; }

.container-footer li a {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none; }

.social {
  display: flex;
  justify-content: center; }

.social-container {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0; }

/*	END of Footer
-----------------------*/
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

/*	Footer festur ni├░ri
-------------------------*/
.main {
  min-height: calc(100vh - 240px); }

/*	END of Footer festur ni├░ri
--------------------------------*/
.jumbotron {
  background-color: #1f5f9d;
  width: 100%;
  height: 320px;
  margin-bottom: 0; }

.jumbotron-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 2.5%; }

/*	Interactive map
-------------------------*/
.landakort {
  width: 25%;
  height: 220px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  Z-index: 300; }

#chartdiv {
  width: 100%;
  height: 220px;
  font-size: 11px; }

/*	END of Interactive map
-------------------------*/
/* Search Bar
------------------*/
.container-4 {
  overflow: hidden;
  width: 350px;
  margin-left: -110px;
  margin-top: 80px;
  vertical-align: middle;
  white-space: nowrap; }

.search {
  Z-index: 300; }

.container-4 input#search {
  width: 350px;
  height: 60px;
  background: #ffffff;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  float: left;
  color: #1f5f9d;
  padding-left: 15px;
  padding-top: 10px;
  border-radius: 5px; }

.container-4 input#search::-webkit-input-placeholder {
  color: #727171; }

.container-4 button.icon {
  border: none;
  background: #3b3a36;
  height: 60px;
  width: 60px;
  color: #ffffff;
  opacity: 0;
  font-size: 24pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; }

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -60px; }

.container-4:hover button.icon:hover {
  background: #a1a0a0;
  color: #3b3a36; }

/* END of Search Bar
------------------*/
/*	Search fillters
-------------------------*/
.controls {
  width: 220px;
  height: 260px;
  background-color: #ffffff;
  border: 1px solid #3b3a36;
  border-radius: 4px;
  Z-index: 300; }

fieldset h4 {
  margin: 10px 0 0 20px;
  font-size: 18px; }

.checkbox label {
  margin-left: 10px;
  font-size: 14px; }

.checkbox label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: #68b8c4;
  opacity: 0;
  pointer-events: none; }

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-left: 10px; }

.checkbox input {
  border: 2px solid #3b3a36; }

.Container .fail-message {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  transition: 150ms; }

.Container .fail-message:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.Container .fail-message span {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px; }

.Container.fail .fail-message {
  opacity: 1;
  pointer-events: auto; }

/*	END of Search fillters
-------------------------*/
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 0; } }

/*# sourceMappingURL=style.css.map */
